/.vscode
/123240092_Quiz.pkt
/123240092_Tugas 3.pkt
/123240092_Tugas 4.pkt
/123240092_Tugas2.pkt
/gagal.pkt
/JARKOM PROYEK AKHIR.txt
/Jarkom uyeaahh - Copy.pkt
/Jarkom uyeaahh.pkt
/Jarkom Uyeah.pkt
/Praktikum Algo
/projrkAkhir_JaringanSMA.pkt
/revisiiii.pkt
/Tugas Jarkom.pkt
/Tugas1_123240092_Aushaf Fathin Irsyad Nabil.pkt